// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;



$blue: #5AA9E6;
$light_blue: #7FC8F8;
$pink: #FF6392;
$yellow: #FFE45E;
$navy: #11629F;
$grey: #F9F9F9;
$blue_gray: #243E53;
$green: #4DBEA3;
$red: #BD4C4C;
$white: #FFFFFF;
$pink_to_yellow: linear-gradient(90deg, $pink 16.25%, $yellow 89%);
$gradiant_blue: linear-gradient(90deg, $light_blue 0%, $navy 100%);
