.general-container {
  padding-right: 3rem;;
 .content_landing {
   position: relative;
   .box_logo {
    text-align: center;
     .name_logo {
      img {
        align-items: center;
        width: 250px;
        height: 71px;
      }
     }
   }
 }
}
