.divsize {
  height: 100vh;
}

.budget {
  padding: 5rem 1rem;
  padding-left: 17px;
  padding-right: 17px;
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;

  .content-position {
    text-align: center;
    border-radius: 20px;
    img {
      position: unset;
      align-items: center;
      width: 200px;
      height: 200px;
      margin-bottom: 15px;
      margin-top: 3rem;
    }
  }
  .form-group {
    display: flex;
    align-content: space-between;
    background-color: white;
    border-radius: 20px;
    align-items: center;
    height: 3rem;
    color: #495057;

    .string {
      padding-left: 25px;
      margin-bottom: 0;
    }

    .form-control {
      max-width: 6rem;
      width: 5rem;
      text-align: end;
      border-radius: 50px;
      border: 0px solid transparent;
      margin-left: 5.5rem;

      &:focus {
        box-shadow: none;
      }
    }
  }

  .input {
    width: 320px;
    text-align: start;
    #user_donnation_budget {
      text-align: right;
    }
  }

  .donation_cost {
    display: flex;
    align-content: space-between;
    border-radius: 20px;

    .wide {
      width: 256px;
    }
  }

  .donation_suggestions {
    border-radius: 20px;
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    margin-top: 1rem;

    .money {
      width: 100%;
      border-radius: 10px;
      color: $blue;
      padding: .5rem;
      background-color: $grey;
      font-weight: 700;
      text-align: center;
    }

  }

  .footer-position {
    margin-top: 10rem;
  }
}
