.divsize {
  height: 100vh;

  .uncheckedboxes {
    position: absolute;
    transform: scale(0);
  }

  .tag-item {
    display: inline-block;
    width: -webkit-fill-available;
    margin-bottom: 20px;

    .form-check-label {
      display: inline;
    }

    .tag-selector {
      position: absolute;
      transform: scale(0);
    }

    .tag-selector + label .category-infos {
      cursor: pointer;
      width: -webkit-fill-available;
      border: 5px solid transparent;
    }

    .tag-selector:checked + label .category-infos {
      border: 5px solid #4DBEA3;
      border-radius: 1rem;
    }
  }
}

.registration {

  padding: 5rem 1rem;
  padding-left: 17px;
  padding-right: 17px;
  padding-top: 30px;
  padding-bottom: 30px;

}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: .5rem 1rem;
  margin-top: 2rem;
  margin-bottom: 0px;
}

 .footer-position {
    margin-top: 2rem;
  }
