.divsize {
  height: 100vh;
}

.info {
  padding-top: 30px;
  position: relative;

  .content-position {
  background-color: #11629F;
  border-radius: 20px;
  padding: 2rem;
  margin-top: 3rem;


    img {
      display: block;
      margin: 0 auto;
      width: 80%;
      height: 80%;
      margin-bottom: 40px;
    }

    .info-p {
      margin-bottom: 2rem;
    }

    .pink {
      font-size: 30px;
      font-weight: 700;
    }

    p {
      margin-bottom: 0rem;
      font-weight: 500;
    }
  }
}
