.divsize {
  height: 100vh;
}

.name {
  padding-top: 30px;
  position: relative;

  .content-position {
    margin-top: 3.5rem;
  }

  .btn-1-regist {
    bottom: 4rem;
  }
  p {
    text-align: center;
    padding-top: 0.8rem;
    position: absolute;
    bottom: 1rem;
    width: -webkit-fill-available;
  }
}
