.divsize {
  height: 100vh;
}

.name {
  padding: 5rem 1rem;
  padding-left: 17px;
  padding-right: 17px;
  padding-top: 30px;
  padding-bottom: 30px;

  .footer-position {
  margin-top: 29rem;
  }

  p {
  text-align: center;
  padding-top: 0.8rem;
  }

}
