.divsize {
  height: 100vh;
  overflow: scroll;
  padding-bottom: 1rem;
}

.subcategory {
  // background-color: green;
  .subcategory-wrapper {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .subcategories-wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;
  }

  .tag-item.subcategory .card-category {
    height: 150px;
  }
}
