.divsize {
  height: 100vh;
  overflow: scroll;
  padding-bottom: 1rem;
}

.sub_category {
  padding-top: 30px;
  position: relative;
}

.sub_category {
  .subcategories-wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;

    &::-webkit-scrollbar {
      display: none;
    }
  }
  .scrollable-sub {
    overflow: scroll;
    height: 36rem;
  }

  .form-group {
    margin-bottom: 0 !important;
  }

  .tag-item.subcategory .card-category {
    height: 140px;
  }

  .btn {
    margin-top: 2rem;
  }
}

.text-sub-cat {
  color: #4DBEA3 !important;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  font-family: 'Manrope';
  font-weight: 700;
  margin-bottom: 0.5rem;
}
