.col-form-label {
  font-size: 0;
}

.tag-item-2 {
  display: inline-block;
  width: -webkit-fill-available;
    margin-bottom: 50px;

  .tag-selector {
    position: absolute;
    transform: scale(0);
  }

  .tag-selector + label {
    cursor: pointer;
    width: -webkit-fill-available;
    display: inline-block;
  }


  .tag-selector:checked + label {
    // border: 5px solid #4DBEA3;
    border-radius: 1.25rem;
    -webkit-box-shadow: 0px 0px 0px 5px #4dbea3;
  }


}
