.col-form-label {
  color: $green;
  font-weight: bolder;
  letter-spacing: 0.1rem;
  text-transform: uppercase;

  abbr {
    display: none;
  }
}

.tag-item-2 {
  display: inline-block;
  width: -webkit-fill-available;
  margin-bottom: 50px;

  .tag-selector {
    position: absolute;
    transform: scale(0);
  }

  .tag-selector + label .asso-infos {
    cursor: pointer;
    width: -webkit-fill-available;
    display: inline-block;
    border: .5rem solid transparent;
  }

  .tag-selector:checked + label .asso-infos {
    border: .5rem solid #4DBEA3;
    border-radius: 2rem;
  }
}
