<div class="divsize budget">
  <h1>Simon tell us your budget !</h1>
  <img>
  <%= f.input :donation_budget, input_html: { value: 8 } %>

  <p>The real cost of your donation</p>
  <p>2,72€</p>
  <button>5€</button>
  <button>20€</button>
  <button>50€</button>
  <button>100€</button>
  <button>500€</button>
  <button>Continue</button>
</div>
