<h1 class=“text-center”>Simon you are in the right place</h1>
<div>
  <img>
  <p>each month, 5 nonprofits will be suggested to you according to your preferences</p>
  <p>90% of Treno users commit to donating an average of 8€ per month </p>
</div>
<button>Continue</button>
