<div id="name" class="divsize name">
  <div class="name-content">
   <h1>Welcome to Tréno</h1>
   <h2>What do you friends call you?</h2>
    <%= f.input :first_name, placeholder: "John", label: false, input_html: { value: nil, data: { name_target: "firstNameInput" }, class: "input-name" } %>
    <div class="footer-top">
    <%= link_to "Continue", "#category", data: {turbolinks: false, action: "click->name#setFirstName" }, class: "btn btn-1 mt-5" %>
    <%# <button class="btn-1 mt-5" data-action="click->name#setFirstName" >continue</button> %>

    <p>Already have an account ? Log in > </p>
    </div>
  </div>
</div>
