<div class="divsize">
  <h1>Welcome to Tréno</h1>
  <h2>What do you friends call you ?</h2>
  <%= f.input :first_name, input_html: { value: nil } %>
  <button class ="btn-1" >continue</button>
  <p>Already have an account ? Log in > </p>
</div>
