<div class="divsize name">
  <div class="name-content">
    <h1>Welcome to Tréno</h1>
    <h2>What do you friends call you?</h2>
    <%= f.input :first_name, label: false, input_html: { value: nil, data: { name_target: "firstNameInput" } } %>
    <button class="btn-1 mt-5" data-action="click->name#setFirstName" >continue</button>
    <p>Already have an account ? Log in > </p>
  </div>
</div>
