<div id="name" class="divsize name">

  <div class="name-content">

    <div>
      <h1>Welcome to Tréno</h1>
      <h2>What do your friends call you?</h2>
    </div>

    <div class="content-position">
      <%= f.input :first_name, placeholder: "Flore", label: false, input_html: { value: nil, data: { name_target: "firstNameInput" }, class: "input-name pl-4" } %>
    </div>

    <div class="footer-position">
      <%= link_to "Continue", "#category", data: {turbolinks: false, action: "click->name#setFirstName" }, class: "btn btn-1" %>
      <p>Already have an account ? Log in > </p>
    </div>

  </div>

</div>
