<div class="divsize registration">
  <h1 class=“text-center”>Simon you are almost done!</h1>

  <div class="form-inputs">
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" }%>
    <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>
  </div>

  <%= f.submit 'Register'%> <!-- Redirect to or Link to ? go to => INDEX -->
</div>
