<div id="sub_category" class="divsize sub_category">
  <div class="subcategory-wrapper">
    <h1><span class="pink" data-name-target="firstName"></span> tell us more!</h1>
    <h2 class="mb-4">Make your choice!</h2>
    <div class="scrollable-sub">
      <% @sub_categories_by_category.each do |charity_type| %>
        <p class="text-sub-cat" hidden data-category-target="<%= "#{charity_type.first.delete(' ').camelize(:lower)}Label" %>"><%= charity_type.first %></p>
        <%= f.input charity_type.first.to_sym,
          legend_tag: false,
          collection: charity_type.last,
          include_blank: "Anything",
          wrapper_html: { data: { "category-target": "#{charity_type.first.delete(' ').camelize(:lower)}Display" }, class: 'form-group subcategories-wrapper', hidden: true, id: "#{charity_type.first.parameterize}-display" },
          as: :check_boxes,
          include_hidden: false,
          input_html: {name: "user[favorite_sub_categories][]", multiple: true, class: "uncheckedboxes tag-selector"},
          item_wrapper_class: "tag-item subcategory",
          label_method: lambda { |category| render 'cardsubcategorie', category: category }
        %>
      <% end %>
    </div>
    <%= link_to "Continue", "#info", data: {turbolinks: false}, class: "btn btn-1-regist" %>
  </div>
</div>
