<div class="divsize">
  <h1>Simon tell us more!</h1>
  <h2>Make your choice!</h2>
  <%= f.input :Environment, :collection => ["Forest", "Ocean", "Global Warming", "Sensibilization", "Agriculture"], :include_blank => "Anything", wrapper_html: { class: 'form-group' }, :as => :check_boxes, include_hidden: false, :input_html => {name: "user[favorite_sub_categories][]", multiple: true} %>
  <%= f.input :Solidarity, :collection => ["Homeless", "Elderly People", "Disability", "Orphans", "Refugees"], :include_blank => "Anything", wrapper_html: { class: 'form-group' }, :as => :check_boxes, include_hidden: false, :input_html => {name: "user[favorite_sub_categories][]", multiple: true} %>
  <%= f.input :Animals, :collection => ["Birds", "Bees", "Animals Shelters", "Biodiversity", "Endangered Species"], :include_blank => "Anything", wrapper_html: { class: 'form-group' }, :as => :check_boxes, include_hidden: false, :input_html => {name: "user[favorite_sub_categories][]", multiple: true} %>
  <button>continue</button>
</div>
