<div id="sub_category" class="divsize subcategory">
  <div class="subcategory-wrapper">
    <h1><span class="pink" data-name-target="firstName"></span> tell us more!</h1>
    <h2>Make your choice!</h2>
    <%= f.input :Environment,
                legend_tag: false,
                collection: ["Homeless", "Elderly People", "Disability", "Orphans", "Refugees"],
                include_blank: "Anything",
                wrapper_html: { class: 'form-group grid' },
                as: :check_boxes,
                include_hidden: false,
                input_html: {name: "user[favorite_sub_categories][]", multiple: true, class: "uncheckedboxes tag-selector"},
                item_wrapper_class: "tag-item",
                label_method: lambda { |category| render 'cardsubcategorie', category: category } %> <!-- à changer? -->

    <%= f.input :Animals,
                legend_tag: false,
                collection: ["Birds", "Bees", "Animals Shelters", "Biodiversity", "Endangered Species"],
                include_blank: "Anything",
                wrapper_html: { class: 'form-group grid' },
                as: :check_boxes,
                include_hidden: false,
                input_html: {name: "user[favorite_sub_categories][]", multiple: true, class: "uncheckedboxes tag-selector"},
                item_wrapper_class: "tag-item",
                label_method: lambda { |category| render 'cardsubcategorie', category: category } %> <!-- à changer? -->

    <%= link_to "Continue", "#info", data: {turbolinks: false}, class: "btn btn-1 mt-5" %>
  </div>
</div>
