.user-menu-grid {
  padding: 1rem 1rem;
  display: flex;
  justify-content: space-around;
  background-color: $navy;
  position: fixed;
  bottom: 0rem;
  height: auto;
  width: -webkit-fill-available;
  left: 0;
  padding-bottom: 1.5rem ;
  img {
    width: 35px;
    height: 35px;
  }
}
