.general-container {
  width: 100vw;
  padding: 0 1rem;
  margin: 0 auto;
}


.card-asso {
  width: 92vw;
  height: -webkit-fill-available;
  border: 5px solid transparent;


  .asso-infos {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 27px;
    background-position: center;
    background-size: cover;
      filter: grayscale(20%);

    .position-title {
      align-items: center;
      place-self: end;
      margin: 0 auto;
      text-align: center;
      margin-top: 2rem;
      margin-bottom: 2rem;

      h1, h2 {
        margin: 0;
      }
    }

    .collapse-btn {
      justify-content: flex-end;
      place-self: end;
      text-align: center;
      margin: 0 auto;
      z-index: 2000;

      a {
        color: white;
      }
    }
  }

  .content {
    background-color: #FFFFFF;
    border-bottom-left-radius: 27px;
    border-bottom-right-radius: 27px;



    &.show .card-asso {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;

    }

    .asso-title-content {
      padding: 20px 10px 0 10px;
      font-family: Manrope;
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 33px;
      color: $blue_gray;
    }

    .asso-subtitle-content {
      padding: 0px 10px 10px 10px;
      font-family: Manrope;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 22px;
      color: $blue_gray;
    }

    .position-img-asso {
      margin-top: 10px;
      margin-right: 10px;

      img {

        width: 80px;
        height: 80px;
        border-radius: 5px;
      }
    }

    .asso-paragraph-content {
      margin-top: 10px;
      padding: 10px;
      color: $blue_gray;
    }
  }
}
