.user-banner-donation {
  padding: 1rem 1rem;
  display: flex;
  justify-content: center;
  background-image: $pink_to_yellow;
  position: sticky;
  bottom: 0;

  .btn {
    font-family: $body-font;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 130%;
  }
  img {
    width: 35px;
    height: 35px;
  }
}
