.card-dashboard-home {
  // width: 100vw;
  background-color: $dark_blue;
  align-items: center;
  margin: 0;
  text-align: center;
  border-radius: 1rem;
  margin-bottom: 20px;
  .box-infos-home {
    text-align: -webkit-left;
  }
  .secondary_information {
    margin: 0;
  }

  .d-flex {
    padding: 12px 15px;



  }

  p {
    font-weight: bold;
  }

  .price-home {

    background: $pink_to_yellow_text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 0;
  }


  .picture-home {


    img  {
      width: 70px;
      height: 70px;
    }


  }


}
