.card-dashboard-home {
  // width: 100vw;
  background-color: $dark_blue;
  align-items: center;
  margin: 0;
  text-align: center;
  border-radius: 1rem;
  margin-bottom: 20px;

  .box-infos-home {
    text-align: -webkit-left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .secondary_information {
    margin: 0;
    margin-top: 1rem;
  }

  .d-flex {
    padding: 12px 15px;

    .title-home {
      font-size: 24px;
      margin: 0;
    }

    .subtitle-home {
      font-size: 18px;
      margin: 0;
    }
  }

  p {
    font-weight: bold;
  }

  .price-home {
    background: $pink_to_yellow_text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 0.5rem;
    font-size: 24px;
  }

  .picture-home {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    img  {
      width: 70px;
      height: 70px;
      background-color: white;
      border-radius: 10px;
      margin-bottom: 1rem;
    }

    .price-home {
      margin-bottom: 0 !important;
    }
  }
}

.user-menu-grid {
  .fa-home:before {
    background: linear-gradient(90deg, $pink 16.25%, $yellow 89%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 35px;

  }
  .fa-book-open:before {
    color: white;
    font-size: 35px;

  }

}
