.card-category {
position: relative;
width: 350px;
height: 202px;
background: linear-gradient(0deg, rgba(0, 0, 0, 0.13), rgba(0, 0, 0, 0.13)), url(https://images.unsplash.com/photo-1511497584788-876760111969?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max);
background-position: center;
background-size: cover;
border-radius: 10px;
filter: grayscale(20%);

}

.text {
display: flex;
align-items: center;
justify-content: center;
text-align: center;
width: 100%;
height: 100%;

}
.card-img {
  font-family: $body-font;
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  color: #FFFFFF;

  line-height: 44px;
}

.chevron {
position: absolute;
width: 20px;
height: 20px;
left: 168px;
top: 175px;

}
