.general-container {
  width: 100vw;
  padding: 0 1rem;
  margin: 0 auto;
}

.card-asso {
  // height: -webkit-fill-available;

  .asso-infos {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .position-title {
      display: grid;
      place-content: center;
      text-align: center;
      margin: 0 auto;
      text-align: center;
      border-top-left-radius: 1.5rem;
      border-top-right-radius: 1.5rem;
      background-position: center;
      padding: 2rem 0;
      background-size: cover;
      background-position: unset;
      height: 13rem;
      width: -webkit-fill-available;
      padding: 0 1rem;

      h1, h2 {
        margin: 0;
      }
    }
  }

  .content {
    background-color: #FFFFFF;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    padding: 1rem;

    p {
      margin-bottom: 0;
    }

    .card-asso {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    .asso-title-content {
      font-family: Manrope;
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 33px;
      color: $blue_gray;
    }

    .asso-subtitle-content {
      padding: 0px 10px 10px 0px;
      font-family: Manrope;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 22px;
      color: $blue_gray;
    }

    .position-img-asso {
      img {
        width: 80px;
        height: 80px;
        border-radius: 5px;
      }
    }

    .asso-paragraph-content {
      margin-top: 10px;
      color: $blue_gray;
    }
  }
}

.user-menu-grid-np {
  padding: 1rem 1rem;
  display: flex;
  justify-content: space-around;
  background-color: $navy;
  position: fixed;
  bottom: 0rem;
  height: auto;
  width: -webkit-fill-available;
  left: 0;
  padding-bottom: 1.5rem ;

  .fa-home:before {
    color: white;
    font-size: 35px;

  }
  .fa-book-open:before {

    background: linear-gradient(90deg, $pink 16.25%, $yellow 89%) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    font-size: 35px;

  }
}
