<div class="avatar-grid">
  <div>
    <h1>Hi <span class="pink">Simon</span></h1>
    <h2>Welcome home</h2>
  </div>
  <div>
    <%=image_tag current_user.avatar, class: "show-avatar"%>
  </div>
<div>
