
<div class="general-container">
  <%# <button class="btn btn-primary">test</button>
  <button class="btn btn-secondary">test2</button> %>
  <br>
  <br>

  <div class="card-asso accordion" id="accordionAsso">
    <div class="asso-infos">
      <div class="position-title" id="headingAsso">
        <h1>Nature </h1>
        <h2 class="asso-subtitle"> Pin4life</h2>
      </div>
      <div class="collapse-btn">
         <i class="collapsed fas fa-chevron-down" data-toggle="collapse" data-target="#collapseAsso" aria-expanded="false" aria-controls="collapseAsso"></i>
      </div>
      <div class="collapse content" id="collapseAsso" aria-labelby="headingAsso" data-parent="#accordionAsso">
        <div class="d-flex justify-content-between">
          <div>
            <h1 class="asso-title-content flex-item"> Environment</h1>
            <h2 class="asso-subtitle-content flex-item"> Threes</h2>
          </div>
          <div class="position-img-asso flex-item">
            <%= image_tag "forest.png" %>
          </div>
        </div>
        <p class="asso-paragraph-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Interdum sociis facilisis molestie magna habitasse leo. Gravida eget lectus nulla feugiat cras diam. In velit ornare at quam. Duis auctor vel et ornare auctor ut.</p>
      </div>
    </div>

  </div>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

  <div class="card-trophee-dashboard" >
    <%# <div class="container-radius">
      <div class="gradient-border-radius">  %>
        <div class="circle-photo-trophee">
          <%= image_tag "components_treno/donner.png" %>
        </div>
        <div>
          <p>First Donation</p>
        </div>
      <%# </div>
    </div> %>
  </div>

  <br>
  <br>
  <br>
  <br>

  <div class="card-banner-donation" >
    <div class="position-number-budget">
      <h1>20€</h1>
    </div>
  </div>



  <br>
  <br>
  <br>
  <br>



  <div class="card-category" >
    <div class="category-infos">
      <div class="position-title-category">
        <h1>Nature </h1>
      </div>
    </div>
  </div>

  <br>
  <br>
  <br>

  <div class="card-onboarding">
    <div class=picture-emplacement>
      <%= image_tag "components_treno/donner.png"%>
    </div>
    <div class="first-text-onboarding">
      <p>Each month,
      <span>5</span> nonprofits will be suggested
      to you according to your preferences </p>
    </div>
    <div class="second-text-onboarding">
      <p> <span>90 %</span>
         of Treno users
        commit to donating an average
        of 8 € per month
      </p>
    </div>
  </div>


</div>

<br>
<br>

  <div class="card-subcategory">
    <div class="position-title-sub">
      <h2>Animal</h2>
    </div>
    <div class="position-picture-sub">
      <div class="card-category" >
        <div class="category-infos">
          <div class="position-title-category">
            <h1>Nature </h1>
          </div>
        </div>
      </div>
    </div>
  </div>

<br>
<br>
<br>
<br>
<br>


  <div class="card-dashboard-home">
    <div class="d-flex justify-content-between align-items-center">
      <div>
        <h1 class="title-home flex-item">Nature </h1>
        <h2 class="subtitle-home flex-item">Animal</h2>
        <p class="price-home flex-item">Price</p>
      </div>
      <div class="picture-home flex-item">
        <%= image_tag "components_treno/donner.png"%>
      </div>
    </div>
  </div>
