<div class="donation-grid">
  <div class="association-logo">
    <%= image_tag "bees.png"%>
  </div>
  <div class="association-name">UNICEF</div>
  <div class="donation">
    <input type="number" id="donation" name="euros" min=0 placeholder=8>
  </div>
</div>
