<div class="avatar-grid">
  <div>
    <h1>Hi <span class="pink">Simon</span></h1>
    <h2>Welcome home</h2>
  </div><div class="avatar"></div>
</div>
<br>
<br>
<br>
<div class="general-container">
  <%# <button class="btn btn-primary">test</button>
  <button class="btn btn-secondary">test2</button> %>
  <br>
  <br>

  <div class="card-asso">
    <div class="asso-infos">
      <div class="position-title">
        <h1 class="asso-title">Nature </h1>
        <h2 class="asso-subtitle"> Pin4life</h2>
      </div>
      <div class="collapse-btn">
         <a class="btn" data-bs-toggle="collapse" href="#asso-desc" role="button" aria-expanded="false" aria-controls="asso-desc">Toggle first element</a>
      </div>
    </div>

    <div class="collapse content" id="asso-desc">
      <div>
        <h1 class="asso-title-content"> krlkrl</h1>
        <h2 class="asso-subtitle-content"> oyeee</h2>
        <p class="asso-paragraph-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Interdum sociis facilisis molestie magna habitasse leo. Gravida eget lectus nulla feugiat cras diam. In velit ornare at quam. Duis auctor vel et ornare auctor ut.</p>
      </div>
    </div>
  </div>

  <br>
  <br>
  <br>

</div>

<div class="donation-grid">
  <div class="association-logo">
    <%= image_tag "bees.png"%>
  </div>
  <div class="association-name">UNICEF</div>
  <div class="donation">
    <input type="number" id="donation" name="euros" min=0 placeholder=8>
  </div>
</div>
<br/>
<br/>
