<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<button class="btn btn-primary">test</button>
<button class="btn btn-secondary">test2</button>
<br>
<%# <button class="btn btn-add-avatar">Add avatar</button> %>
<img class="avatar" src="" alt="avatar">
<h1>Ceci est le h1</h1>
<h2>Cela est le h2</h2>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos doloribus officia autem praesentium consequatur, nostrum impedit pariatur quis quam iure earum aut nemo adipisci quos ducimus ipsam nam illo iste.</p>
<div class="information">Ceci est l'information</div>
<div class="secondary_information">Ceci est secondary-information</div>
<div class="card-category"></div>
<div class="card-subcategory"></div>
<div class="card-donation-split"></div>
<div class="card-dashboard-home"></div>
<div class="card-amount-budget"></div>
<div class="card-asso"></div>
<div class="card-onboarding"></div>
<div class="card-trophee"></div>
<div class="banner-donation"></div>
