<div class="general-container">
  <div class="content_landing">
    <div class="box_logo">
      <span class="img_logo"><%= image_tag "components_treno/logo_treno/Logo.png" %></span>
      <span class="name_logo"><%= image_tag "components_treno/logo_treno/treno.png" %></span>
    </div>
    <div class="landing_text">
      <p class="information">Now is your time to <span class="pink font-weight: bold">give</span></p>
      <p>Let’s enter the charity word so you can find what actions you take at heart</p>
      <%= link_to "Get started", new_onboarding_path(anchor: "name"), class: 'btn btn-secondary text-center' %>
    </div>
  </div>
</div>
