<div class="user-menu-grid">
    <div class="menu-logo">
      <%= image_tag "nav_bar_components/home-52.png"%>
    </div>
    <div class="menu-logo">
      <%= image_tag "nav_bar_components/gift-2.png"%>
    </div>
    <div class="menu-logo">
      <%= image_tag "nav_bar_components/view_carousel.png"%>
    </div>
</div>
