<div class="user-menu-grid">
      <%= image_tag "nav_bar_components/home-52.png"%>
      <%= image_tag "nav_bar_components/gift-2.png"%>
      <%= image_tag "nav_bar_components/view_carousel.png"%>
</div>
