<div class="stripe-container">
  <div class="message" >
    <%= image_tag('stripe.png', class: "validation")%>
    <p> Paiement accepté  </p>
  </div>
  <%= link_to "See my donations", root_path %>
</div>
