.avatar-grid {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    margin: 0;
  }

  h2{
    font-weight: 800;
    margin-bottom: 20px;
  }

  .show-avatar {
  width: 72px;
  height: 72px;
  border-radius: 50%;
}
}
