.btn-1 {
  background: $pink_to_yellow;
  border-radius: 100px;
  width: 100%;
  height: 50px;
  color: white;
  font-family: $body-font;
  font-weight: bold;
  font-size: 24px;
  border: none;
}

.btn-secondary {
  background: $gradiant_blue;
  border-radius: 100px;
  width: 300px;
  height: 50px;
  color: white;
  font-family: $body-font;
  font-weight: bold;
  font-size: 24px;
  border: none;
}

.btn-add-avatar {
  background: $gradiant_blue;
  border-radius: 100px;
  position: absolute;
  font-family: $body-font;
  font-weight: bold;
  width: 200px;
  height: 80px;
  left: 18px;
  top: 344px;
  border: none;
}

.btn-1-regist {
  position: absolute;
  bottom: 2rem;
  background: $pink_to_yellow;
  border-radius: 100px;
  width: -webkit-fill-available;
  height: 50px;
  color: white;
  font-family: $body-font;
  font-weight: bold;
  font-size: 24px;
  border: none;
}
