.content_landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  .box_logo {
    width: 100%;
    height: 450px;
    justify-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    .img_logo {
      img {
        position: unset;
        align-items: center;
        width: 200px;
        height: 200px;
      }
    }
    .name_logo {
      img {
        align-items: center;
        width: 250px;
        height: 100px;
      }
    }
  }
  .landing_text {
    text-align: center;
    align-items: center;
    .information {
      text-align: center;
      display: block;
    }
    .btn-secondary {
      margin-top: 3.5rem;
    }
  }
}
